*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 40px;
    background-color: #efefef;
}

.container{
    max-width: 950px;
    margin: 0 auto;
    color: #000;
    padding: 100px 50px;
    background-color: #ffffff;
}